html{
	font-size: 20px
}
body{
	color:#fcfcfc;
	background-color: #ff7f50;
	font-family: Arial, Helvetica, sans-serif; 
}

h1{ font-size: 2rem; }

h2{ font-size: 1.2rem; }

h3{ font-size: 1rem; }

footer {
	background-color: black;
	color: white;
	font-size: 0.7rem;
	margin-top: 20px;
	padding: 5px;
	text-align: center;    
}

div.Calendario{
	margin: 0 auto;
	width: 80%;  
}

section article{
	background-color: rgba(0,0,0);
	margin: 20px;
	padding: 12px;  
}

section article p{
	font-size: 0.8rem;
	text-align: justify;
}

nav span a{
	background-color: white;
	border-right: 1px solid;
	color:black;
	float:left;
	padding: 10px; 
	text-decoration: none;  
}

nav span a:hover{
	background-color: #B2DFDB; 
} 